*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
::selection{
    background-color: #fff;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #5372f0;
}
.inputbox{
    display: flex;
    flex-direction: column;
    width: 350px;
    background:#fff;
}
h2{
    text-transform: capitalize;
    text-align: center;
    font-weight: 400px;
    font-size: 16px;
    padding: 10px 0;
    letter-spacing: 1px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ccc;
}
.passwordbox{
    padding: 0 10px;
    display: flex;
    align-items: center;
  
   
}
input{
    width: 100%;
    border: 1px solid #ccc;
    outline: 0;
    padding: 20px;
    font-weight: 400px;
    font-size: 16px;
    letter-spacing: 3px;
    text-align:center
}
.buttons{
    padding: 5px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
button{
    text-transform: capitalize;
    border: none;
    outline: none;
    padding: 10px;
    cursor: pointer;
    height: 100%;
}
button:first-child{
    background-color: #0033ff;
    color: #ffffff;
    width: 90%;
    border: 1px solid #ffffff;
    margin: 5px;
}  
button:last-child{
    background-color:  #ffffff;
    color: #2c2424;
    width: 20%;
    border: 1px solid #8d8888;
    margin: 5px;
}  

